.nav {
    padding: 10px 0px;    
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    border-bottom: 1px solid #dcdee3;
    h1 {        
        margin-left: 10px;        
        a {            
            color: #FFF;
        }        
    }
}
